* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content:center;
    gap: 46px;
}

nav ul li a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 22px;
}

nav ul li .beranda {
    color: #65d4b3;
}

nav button {
    padding: 10px 29px;
    background-color: #65d4b3;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    border: none;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #7c7c7c;
    border-radius: 3px;
    transition: 0.5s;
}

/* HAMBURGER ANIMATION */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* RESPONSIVE */

/* ukuran tablet */
@media screen and (max-width: 900px) {
    nav ul {
        width: 20%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 700px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        z-index: -2;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

/* hero */
.hero img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}


/* apbdes */
.apbdes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 60px 120px;
    background-color: #00A69BBF;
    height: auto;
    width: 100%;
}

.container-apb h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.container-apb p{
    font-size: 24px;
    color: white;
    line-height: 30px;
}

.apb-btn{
    display: flex;
    align-items: center;
}

.apb-btn .tampilkan{
    width: 100%;
    background-color: white;
    color: #00A69BBF;
    padding: 5px 29px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    border: none;
}

/* container berita & informasi */
section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 150px;
    gap: 100px;
}

.containerberita, .containerinformasi{
    width: 500px; 
    position: relative;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* berita */
.containerberita .berita{
    display: flex;
}

.containerberita .berita label{
    background-color:  #65D4B3;
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 120px;
    left: 180px;
    border-radius: 15px 0px 0px 15px;
    padding: 8.5px 15px;
}

.containerberita h2{
    text-decoration: underline;
    color: #9E9E9E;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 60px;
}

.containerberita .berita img{
    border-radius: 15px;
    margin-bottom: 58px;
}

.containerberita .berita .txberita{
    display: inline-block;
    margin-left: 42px;
}

.containerberita .berita .txberita p{
    color: #9f9f9f;
    font-weight: 500;
    font-size: 20px;
}

.containerberita .berita .txberita h1{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
}

.containerberita .berita .txberita .admin{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    margin-top: 11px;
}

.containerberita .lihatsemua{
    margin-top: 46px;
    background-color: #65D4B3;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    border-radius: 7px;
    width: 173px;
    height: 38px;
}

/* informasi */
.containerinformasi .informasi{
    display: flex;
}

.containerinformasi h2{
    text-decoration: underline;
    color: #9E9E9E;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 76px;
}

.containerinformasi .informasi img{
    border-radius: 50%;
    margin-bottom: 46px;
    height: 150px;
    width: 150px;
}

.containerinformasi .informasi .txinformasi{
    margin-left: 42px;
}

.containerinformasi .informasi .txinformasi p{
    color: #9f9f9f;
    font-weight: 500;
    font-size: 20px;
}

.containerinformasi .informasi .txinformasi h1{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
}

.containerinformasi .informasi .txinformasi .tempat{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    margin-top: 11px;
}

.containerinformasi .lihatsemua{
    margin-top: 53px;
    background-color: #65D4B3;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    border-radius: 7px;
    width: 173px;
    height: 38px;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr hr {
    width: 85%;
}

/* poteni */
.container-potensi{
    width: 100%;
    padding: 80px 10px;
}

.container-potensi .potensi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-potensi .potensi .sec{
    width: 85%;
    height: max-content;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 88px;
}

.container-potensi h1{
    font-weight: 700;
    font-size: 30px;
    color: #9E9E9E;
    margin-bottom:53px;
    text-decoration: underline;
    text-align: center;
}

.potensi .card{
    width: 375px;
    height: 400px;
    color: white;
    box-shadow: 3px 0px 10px  #4d4a4a;
    border-radius: 15px;
}

.potensi .card img{
    border-radius: 15px;
}

.potensi .card p{
    margin:14px 39px;
    font-size: 18px;
    font-weight: 500;
    color: #9E9E9E;
}

/* layanan */
.layanan{
    padding: 45px 116px 127px 116px;
    width: 100%;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
}

.layanan h1{
    font-size: 30px;
    font-weight: 700;
    color: #9E9E9E;
    text-decoration: underline;
    text-align: center;
    margin-top: 45px;
}

.layanan .card-layanan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* card */
.layanan .card-layanan .card{
    margin-top: 128px;
    width: 297px;
    height: 268px;
    color: #c4c4c4;
    align-items: center;
}

.layanan .card h3{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #9E9E9E;
    margin-top: 22px;
}

.layanan .card p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #9E9E9E;
}

/* peta */
.peta{
    background-color: #eefffa;
    padding: 119px 108px;
    max-width: 100%;
    width: 100%;
}

.peta h1{
    color: #9e9e9e;
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 90px;
}

.i-peta iframe{
    width:535px; 
    height:535px;
    border-radius: 25px ;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.txpeta{
    flex: 1;
}

.txpeta p{
    color: #9e9e9e;
    line-height: 28.13px;
    font-size: 24px;
}

.features {
    list-style: none;
}

.features li {
    color: #9e9e9e;
    font-size: 22px;
    font-weight: 500px;
    margin: 20px 0px;
}

.features li span img {
    width: 30px;
    height: 30px;
    align-items: center;
    position: absolute;
    left: 118px;
}

.selengkapnya{
    background-color: #48c3a4;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    margin-top: 68px;
}

/* footer */
footer{
    padding: 100px 120px;
    background-color: #424141;
    display: flex;
    justify-content: center;
    align-items:center ;
}

footer .container-footer p{
    font-weight: 500;
    font-size: 24px;
    color: #9f9f9f;
}

footer .container-footer .sosmed h4{
    font-weight: 500;
    font-size: 24px;
    color: #9f9f9f;
    margin-top: 24px;
}

footer .container-footer .sosmed{
    display: flex;
    justify-content: space-between;
}

footer .container-footer .sosmed .icon{
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}


/* RESPONSIVE */
@media (max-width: 1200px) {
    .container {
        flex-direction: column-reverse;
    }

    .i-peta iframe {
        width: calc(100vw - 238px);
    }
}

@media (max-width: 576px) {
    .apbdes {
        height: 100%;
        flex-direction: column;
        align-items: start;
    }

    .container-apb p {
        font-size: 16px;
    }

    .i-peta iframe {
        width: calc(100vw - 144px);
    }

    .peta {
        padding: 72px 64px;
    }

}