@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* navbar */
nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    z-index: 999;
}

nav .navbar{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

nav .navbar a{
    font-family: roboto ;
    color: #9f9f9f;
    text-decoration: none;  
    font-size: 22px;
    font-family: roboto;
    font-weight: 400;
}

nav .navbar .login{
    color:white;
    font-weight: 400;
    font-size: 22px;
    background-color: #65D4B3;
    width: 120px;
    height: 47px;
    border: 0px solid white;
    border-radius: 10px;
}

/* hero */
.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* apbdes */
.apbdes{
    height: auto;
    background-color: #00A69B;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.apbdes .container-apb h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: roboto;
}

.apbdes .container-apb p{
    font-size: 26px;
    font-family: roboto;
    font-weight: 500;
    color: white;
}

.apbdes .tampilkan{
    width: 187px;
    height: 44px;
    background-color: white ;
    border-radius: 10px;
    border: 0px;
    font-size: 22px;
    font-weight: 400;
    color: #00A69B;
    margin-left: 204px;
    padding: 0px 29px;
}

/* container berita & informasi */
section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 150px;
    gap: 100px;
}

.containerberita, .containerinformasi{
    width: 492px; 
    position: relative;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* berita */
.containerberita .berita{
    display: flex;
}

.containerberita .berita label{
    background-color:  #65D4B3;
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 120px;
    left: 180px;
    border-radius: 15px 0px 0px 15px;
    padding: 8.5px 15px;
}

.containerberita h2{
    text-decoration: underline;
    color: #9E9E9E;
    font-weight: 700;
    font-size: 30px;
    font-family: roboto;
    margin-bottom: 60px;
}

.containerberita .berita img{
    border-radius: 15px;
    margin-bottom: 58px;
}

.containerberita .berita .txberita{
    display: inline-block;
    word-spacing: 2px;
    margin-left: 42px;
}

.containerberita .berita .txberita p{
    color: #9f9f9f;
    font-weight: 500;
    font-size: 20px;
    font-family: roboto;
}

.containerberita .berita .txberita h1{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    font-family: roboto;
}

.containerberita .berita .txberita .admin{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    font-family: roboto;
    margin-top: 11px;
}

.containerberita .lihatsemua{
    margin-top: 46px;
    background-color: #65D4B3;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto;
    border: 0px;
    border-radius: 7px;
    width: 173px;
    height: 38px;
}

/* informasi */
.containerinformasi .informasi{
    display: flex;
}

.containerinformasi h2{
    text-decoration: underline;
    color: #9E9E9E;
    font-weight: 700;
    font-size: 30px;
    font-family: roboto;
    margin-bottom: 76px;
}

.containerinformasi .informasi img{
    border-radius: 50%;
    margin-bottom: 46px;
}

.containerinformasi .informasi .txinformasi{
    word-spacing: 2px;
    margin-left: 42px;
}

.containerinformasi .informasi .txinformasi p{
    color: #9f9f9f;
    font-weight: 500;
    font-size: 20px;
    font-family: roboto;
}

.containerinformasi .informasi .txinformasi h1{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    font-family: roboto;
}

.containerinformasi .informasi .txinformasi .tempat{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 20px;
    font-family: roboto;
    margin-top: 11px;
}

.containerinformasi .lihatsemua{
    margin-top: 53px;
    background-color: #65D4B3;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto;
    border: 0px;
    border-radius: 7px;
    width: 173px;
    height: 38px;
}

hr{
    width: 80%;
    margin-top: 86px;
    margin-left: 129px;
    margin-bottom: 69px;
}

/* poteni */
.container-potensi{
    width: 100%;
}

.container-potensi .potensi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-potensi .potensi .sec{
    width: 85%;
    height: max-content;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 88px;
}

.container-potensi h1{
    font-family: roboto;
    font-weight: 700;
    font-size: 30px;
    color: #9E9E9E;
    margin-top: 69px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 53px;
}

.potensi .card{
    width: 375px;
    height: 400px;
    color: white;
    box-shadow: 3px 0px 10px  #4d4a4a;
    border-radius: 15px;
}

.potensi .card img{
    border-radius: 15px;
}

.potensi .card p{
    margin:14px 39px;
    font-size: 18px;
    font-weight: 500;
    font-family: roboto;
    color: #9E9E9E;
}

/* layanan */
.layanan{
    padding: 45px 116px 127px 116px;
    width: 100%;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
}

.layanan h1{
    font-size: 30px;
    font-weight: 700;
    font-family: roboto;
    color: #9E9E9E;
    text-decoration: underline;
    text-align: center;
    margin-top: 45px;
}

.layanan .card-layanan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* card */
.layanan .card-layanan .card{
    margin-top: 128px;
    width: 297px;
    height: 268px;
    color: #c4c4c4;
    align-items: center;
}

.layanan .card h3{
    text-align: center;
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
    color: #9E9E9E;
    margin-top: 22px;
}

.layanan .card p{
    text-align: center;
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    color: #9E9E9E;
}

/* peta */
.peta{
    height: auto;
    width: 100%;
    background-color: #8ed6c025;
    padding: 119px 108px;
    box-sizing: border-box;
}

.peta h1{
    font-family: roboto;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
    color: #9E9E9E;
    text-align: center;
    margin-bottom: 60px;
}

.peta .container{
    display: flex;
    justify-content: space-between;
}

.peta .container .txpeta{
    width: 48%;
}

.peta .container .txpeta p{
    font-family: roboto;
    font-weight: 500;
    font-size: 24px;
    color: #9E9E9E;
    margin-bottom: 20px;
}

.peta .container .txpeta .iconpeta{
    margin-top: 5px;
}

.peta .container txpeta .icon{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 128px;
}

.peta .container .txpeta li{
    font-size: 22px;
    font-weight: 500;
    color: #9E9E9E;
    font-family: roboto;
    list-style: none;
    margin-bottom: 19px;
}

.peta .container .txpeta .selengkapnya{
    width: 212px;
    height: 56px;
    background-color: #65D4B3;
    color: white;
    font-family: roboto;
    font-weight: 700;
    font-size: 22px;
    margin-top: 87px;
    border-radius: 15px;
    border: 0px;
}

.peta .container iframe{
    border-radius: 20px;
}

/* footer */
footer{
    padding: 100px 120px;
    background-color: #424141;
    display: flex;
    justify-content: center;
    align-items:center ;
}

footer .container-footer p{
    font-family: roboto;
    font-weight: 500;
    font-size: 24px;
    color: #9f9f9f;
}

footer .container-footer .sosmed h4{
    font-family: roboto;
    font-weight: 500;
    font-size: 24px;
    color: #9f9f9f;
    margin-top: 24px;
}

footer .container-footer .sosmed{
    display: flex;
    justify-content: space-between;
}

footer .container-footer .sosmed .icon{
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .peta .container {
      flex-direction: column-reverse;
    }
    .iframe{
      width: 100%;
    }
    .peta .container .txpeta{
        width: 100%;
        margin-top: 35px;
    }
    .peta .container .txpeta p{
        font-size: 20px;
    }
    .container-potensi .potensi .sec{
        display: flex;
        justify-content: space-around;
    }
    .apbdes {
        flex-direction: column;
        align-items: start;
        padding: 50px;
        box-sizing: border-box;
      }
      .apbdes .container-apb p{
        font-size: 16px;
    }
    .apbdes .tampilkan{
        margin-top: 20px;
        margin-left: 0px;
        width: 120px;
        height: 32px;
        font-size: 18px;
    }
  }

  @media (max-width: 600px){
    .apbdes {
        flex-direction: column;
        align-items: start;
        padding: 70px;
        box-sizing: border-box;
      }
      .apbdes .container-apb p{
        font-size: 18px;
        font-weight: 400;
    }
    .apbdes .tampilkan{
        margin-top: 20px;
        margin-left: 0px;
        width: 120px;
        height: 32px;
        font-size: 14px;
    }
  }